html,
body {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#content {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  height: 100%;
}

main {
  flex: 4;
  padding: 20px 40px;
}
/* Header */
header {
  background-color: #db4c3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.header-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.header-button:hover {
  background-color: #af3d32;
}

.header-button img {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
}

.header-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-family: "Lobster", cursive;
  font-weight: 400;
  color: white;
}

.header-logo {
  height: 35px;
  padding-right: 16px;
}

.left-header,
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Aside Nav Bar */

.hidden {
  display: none;
}

.show-aside {
  display: flex;
  flex: 1;
  padding: 10px 0px 0px 20px;
  min-width: 200px;
  max-width: 300px;
  background-color: #f7f7f7;
  padding-left: 20px;
}

.main-content {
  display: flex;
}

.tasks-header,
.projects-header {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-buttons-container,
.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 10px;
}

.task-button,
.action-button,
#create-project-btn,
.project,
.new-project-container {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  width: 85%;
  padding: 8px;
  gap: 10px;
  border-radius: 8px;
}

.task-button:hover,
.action-button:hover,
#create-project-btn:hover,
.project:hover,
.new-project-container:hover {
  background-color: #ffffff;
}

.button-selected {
  background-color: #e5e7eb;
  font-weight: bold;
}

.task-button.button-selected:hover {
  background-color: #e5e7eb;
}

ion-icon {
  font-size: 24px;
}

.tasks-icon {
  color: #db4c3f;
}

.today-icon {
  color: #74da9a;
}

.important-icon {
  color: #fec60e;
}

.all-tasks-btn-container,
.today-tasks-btn-container,
.important-tasks-btn-container,
.settings,
.sign-in {
  display: flex;
  align-items: center;
}

.action-buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: -15px;
}

#project-name {
  flex: 2;
}

#delete-project-icon {
  flex: 1;
}

/*Modal styling*/
.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 75px;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 12px;
  width: 350px;
}

#task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

label,
input,
select,
textarea {
  margin-bottom: 4px;
  width: 85%;
  padding: 3px 5px;
}

.new-task-header {
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

.mandatory-star {
	color: red;
	font-weight:bold;
}

/* Buttons */

.create-task-submit-btn,
.add-new-project-btn,
.cancel-new-project-btn {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  position: relative;
  text-align: center;
}

.create-task-submit-btn:hover,
.add-new-project-btn:hover {
  background-color: #2c974b;
}

.create-task-submit-btn:active,
.add-new-project-btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.cancel-new-project-btn {
  background-color: #ff5733;
}

.cancel-new-project-btn:hover {
  background-color: #e74c3c;
}

.cancel-new-project-btn:active {
  background-color: #d63022;
}

/* Task */

.task-card {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  margin-bottom: 10px;
}

.task-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-card p {
  font-size: 16px;
  margin-bottom: 5px;
}

.task-summary {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex: 1;
  padding-left: 20px;
}

.task-name {
  display: flex;
  align-items: end;
}

#task-description {
  display: flex;
  margin-top: -10px;
  font-size: 10px;
  /* color: 	#343434; */
}

.task-card:hover {
  transform: scale(1.003);
  transform-origin: 50% 50%;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
}

.task-actions {
  display: flex;
  justify-content: end;
  flex: 1;
  align-items: center;
  gap: 25px;
}

.edit-task-input {
  width: 100px;
}

#task-priority-toggle {
  margin-left:-10px;
  margin-right:5px;
	width:8px;
  height:60px;
	background-color:#298e46;
  border-radius:5px;
}

/* Checkbox */
.task-status-checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #db4c3f;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.task-status-checkbox:checked {
  background-color: #db4c3f;
}

.task-status-checkbox:checked::before {
  content: "\2713"; /* Unicode checkmark character */
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
  font-size: 18px; /* Adjust the size here */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

/* New Project */

.new-project-container {
  flex-direction: column;
  justify-content: center;
}

.new-project-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

input#new-project {
  font-family: Montserrat, sans-serif;
  width: 90%;
}
